node-red/flows.json
[{"id":"47c9e834.30ab88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c267b912.9ad518","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d543c352.e785","type":"mqtt out","z":"47c9e834.30ab88","name":"","topic":"test","qos":"","retain":"","broker":"c267b912.9ad518","x":360,"y":140,"wires":[]},{"id":"49e0918.93c947","type":"mqtt in","z":"47c9e834.30ab88","name":"","topic":"#","qos":"2","datatype":"auto","broker":"c267b912.9ad518","x":210,"y":220,"wires":[["8bd6284b.3cfb88"]]},{"id":"aa2c1ef8.394c9","type":"inject","z":"47c9e834.30ab88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":200,"y":140,"wires":[["d543c352.e785"]]},{"id":"8bd6284b.3cfb88","type":"debug","z":"47c9e834.30ab88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":220,"wires":[]}]